/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

*::-webkit-scrollbar {
  background:#fff;
  width:15px;
  }
*::-webkit-scrollbar-thumb {
  background:#ccc;
  border-radius:15px;
  border:5px #fff solid;
  }

/* ------------------------------------------
  Typography
---------------------------------------------*/
input,
textarea,
body {
  background:#fff;
  color:#404040;
  font:14px/24px Helvetica, arial, freesans, clean, sans-serif;
  -webkit-font-smoothing:antialiased;
  }
h1,h2,h3,h4,h5,h6 {
  margin:0;
  font-weight:bold;
  }
h1 {
  font-size:22px;
  line-height:27px;
  }
h2 {
  font-size:19px;
  line-height:27px;
  }
h3 {
  font-size:17px;
  line-height:27px;
  }
p, ul {
  margin:0 0 15px;
  }
a {
  color:#404040;
  font-weight:bold;
  text-decoration:none;
  }

#header h1 {
  font-size:15px;
  line-height:40px;
  }
  #header h1 a {
    color:#fff;
    }

.brand    { color:#BA003F; }
.subtitle {
  color:#9699A2;
  margin-left:10px;
  }

label {
  display:block;
  margin:5px 0 0;
  }
input[type=text],
textarea {
  border:1px solid #CCC;
  border-color:#bbb #ccc #ccc;
  -webkit-box-shadow:inset #ccc 0 1px 3px;
     -moz-box-shadow:inset #ccc 0 1px 3px;
          box-shadow:inset #ccc 0 1px 3px;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  padding:4px 10px;
  width:440px;
  }
input[type=text] {
  max-width:100%;
  vertical-align:middle;
  background:#fff;
  color:#000;
  }
textarea {
  resize:none;
  height:100px;
  }
input[type=button],
input[type=submit] {
  background:#c1c3c8;
  text-decoration:none!important;
  color:#fff;
  display:inline-block;
  vertical-align:middle;
  padding:10px 20px 11px;
  font-size:12px;
  line-height:20px;
  font-weight:bold;
  border:0;
  -webkit-appearance: none;
  text-align: center;
  cursor:pointer;
  margin:20px 0 0 0;
  -webkit-border-radius:2px;
          border-radius:2px;
  }
  input[type=button]:hover,
  input[type=submit]:hover {
    -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.10);
            box-shadow:inset 0 2px 2px rgba(0,0,0,0.10);
    }
  input[type=button]:active,
  input[type=submit]:active {
    -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.25);
            box-shadow:inset 0 2px 2px rgba(0,0,0,0.25);
    }

/* ------------------------------------------
  Layout
---------------------------------------------*/
.limiter {
  width:960px;
  margin:0 auto;
  padding:0 10px;
  }
#masthead {
  height:40px;
  margin-bottom:20px;
  }
.inner {
  padding:20px;
  }
.col    { float:left; }
.col-50 { width:480px; }

#contentform {
  margin-bottom:60px;
  }

/*-----------------------------------
  Style
-------------------------------------*/
#masthead {
  background:#2B2D33;
  width:100%;
  position:relative;
  z-index:1000;
  -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.25);
          box-shadow:0 2px 6px rgba(0,0,0,0.25);
    }
#map {
  background:#f3f3f3;
  width:100%;
  border:1px solid #808080;
  margin-top:95px;
  height:480px;
  }
.marker {
  width:80px;
  height:60px;
  margin-left:-40px;
  margin-top:-50px;
  position:absolute;
  z-index:1000;
  pointer-events:all;
  }

#lastfield{
  display:none;
  }
.ss-required-asterisk {
  color:red;
  font-weight:bold;
  }

/*-----------------------------------
  Lil Helpers
-------------------------------------*/
/*Markup free clearing
Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack*/
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
* html .clearfix { height:1%; }
*:first-child + html .clearfix { min-height:1%; }
