<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RescatistasSSAC</name>
    <description>
        <!--A sample Apache Cordova application that responds to the deviceready event.-->
		Aplicacion que permite a los rescatistas responder a solicitudes de ayuda ante una catastrofe.
    </description>
    <author email="victoria.andrada@gmail.com" href="http://cordova.io">
        Grupo 4 - Proyecto Tecnologo en Informatica 2014
    </author>
    <content src="index.html" />
    <access origin="*" />
	<icon src="www/img/ssaclogo.png" />
</widget>
