
#headerPrincipal{	
	background:url("#{resource['/images/WebUsuarioHeader.png']}") no-repeat center center fixed;
}

body{		
    background:url("#{resource['/images/WebUsuarioHeader.png']}") no-repeat center center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}