<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta http-equiv="Access-Control-Allow-Origin" content="*">

        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.1-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/themes/AndroidHoloDarkLight.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile.structure-1.3.2.min.css" />
        <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <title>Rescatistas</title>
    </head>
    <body ng-app="" ng-controller="rescatistaController" id="body">
      <div class="container" id="mainContainer">
        <div id="login">
          <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1>Rescatistas</h1></div>
          </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form role="form">
                   <div class="form-group col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                     <label for="nick">Nick</label>
                     <input type="text" class="form-control" id="nick" ng-model="nick">
                   </div>
                   <div class="form-group col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                     <label for="password">Password</label>
                     <input type="password" class="form-control" id="password" ng-model="password">
                    </div>
                     <div class="form-group col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                     <button type="submit" class="btn btn-default" touchstart='validarRescatista()' ng-click='validarRescatista()'>Ingresar</button>
                    </div>
                   
            </form>
          </div>
        </div>
        </div> 

        <div id="listaPendientes" style="display:none;">
          <!--div class="container">
             <h1>Planes pendientes:</h1>
             <button ng-click='volver()' class="btn btn-default"><-</button>
             <table class="table table-stripped table-hover table-responsive ">
              <th><button ng-click='listarPlanes()' class="btn btn-default">Mostrar planes</button></th>
              <tbody id="touchzone">
                <tr ng-click='abrirPlan(plan)' id="touchzone" ng-repeat="plan in planes"><td>{{plan.idEstadoRescatista}}</td><td>{{plan.nombreTarea}}</td></tr>
              </tbody>
            </table>
          </div-->
          <div id="geolocation" style="with: 310px; height: 400px;">  
          <!--button class="btn btn-danger" ng-click='verMapa()'>Ver mapa</button-->        
          </div>
          <button type="button" class="btn btn-info col-xs-12 col-sm-12 col-md-12 col-lg-12" touchstart='logout()' ng-click='logout()'>Salir</button>
          
        </div> 

        <div id="pedidoAyudaDetalle" style="display:none;">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1>Detalle</h1></div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="form-group">
                       <input type="hidden" class="form-control" id="idPedidoAyudaActual" ng-model="idPlanActual">
                       <input type="hidden" class="form-control" id="urlArchivo" ng-model="nombreArchivoPlan">
                       <label for="descripcion">Descripcion</label>
                       <textarea class="form-control" rows="7" id="descripcion" ng-model="descripcion"></textarea>
                     </div>
            </div>
          </div>
          <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-info col-xs-12 col-sm-12 col-md-12 col-lg-12" touchstart='abrirPlan()' ng-click='abrirPlan()'>Descargar plan</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-info col-xs-12 col-sm-12 col-md-12 col-lg-12" touchstart='listarPlanes()' ng-click='listarPlanes()'>Mapa</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-danger col-xs-12 col-sm-12 col-md-12 col-lg-12" touchstart='finalizar()' ng-click='finalizar()'>Finalizar</button>
            </div>
          </div>
        </div> 

        <div id="plan" style="display:none;">
           <div class="row-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <form role="form">
                   <div class="form-group">
                     <!--a href="http://localhost/RescatistasApp/www/ViewerJS/#../PropuestaProyecto20140831v03.pdf"-->
                      <!--iframe id="viewer" src = "http://localhost/RescatistasApp/www/ViewerJS/#../PropuestaProyecto20140831v03.pdf" width='400' height='600' allowfullscreen webkitallowfullscreen></iframe--> 
                      <!--iframe id="viewer" ng-src = "http://10.0.2.2/RescatistasApp/www/ViewerJS/#../{{$scope.nombreArchivoPlan}}" width='400' height='600' allowfullscreen webkitallowfullscreen></iframe-->                
                      <!--embed width="100%" height="100%" name="plugin" src = "http://10.0.2.2/RescatistasApp/www/ViewerJS/#../{{$scope.nombreArchivoPlan}}" type="application/pdf"-->
                      <!--embed width="100%" height="70%" name="plugin" src = "http://{{$scope.server}}:{{$scope.puerto}}/ServicioRest/catastrofe/rescatista/pdf" type="application/pdf"-->
                        <!--embed width="100%" height="70%" name="plugin" src = "http://172.16.102.89:8080/ServicioRest/catastrofe/rescatista/pdf" type="application/pdf"-->
                          <!--embed width="100%" height="70%" name="plugin" src = "http://192.168.43.183:8080/ServicioRest/catastrofe/rescatista/pdf" type="application/pdf"-->
                        <!--embed width="100%" height="100%" name="plugin" src = "http://192.168.0.104:8080/ServicioRest/catastrofe/rescatista/pdf" type="application/pdf"-->
                    </div>
                    <br>
                    <button class="btn btn-danger col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-click='volver()'>Volver</button>
              </form>
            </div>   
           </div>
       </div>
        
        <script src="js/map.js"></script>
        <script src="js/RescatistasApp.js"></script>
        <script src="js/rescatistaController.js"></script> 
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyARuUi9XM4V6ccbETN2Zhv2WPFn3ovLvnE&sensor=false"> </script>
        <script type="text/javascript">
           app.initialize();
        </script>
        
        <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
        
    </body>
</html>