.sliderwrapper{
	position: relative; /*leave as is*/
	overflow: hidden; /*leave as is*/
	width: 600px; /*width of featured content slider*/
	height: 215px;
	background: #333333;
}

.contentdiv{
	visibility: hidden;
	position: absolute; 
	left: 0;
	top: 0;
	background: #333333;
	width: 600px;
	height: 100%;
	filter: alpha(opacity=100);
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}

.contentdiv img{
	margin: 0px;
	padding: 0px;
}

.pagination{
	width: 590px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
	height: 20px;
	text-align: right;
	background:#e1e1e1;
	padding-top: 5px;
	padding-right: 10px;
}

.pagination a{
	float: right;
	display: block;
	height: 10px;
	width: 10px;
	padding: 0px;
	margin-left: 5px;
	background: url(images/templatemo_paging_icon.png) no-repeat;
	text-decoration: none; 
}

.pagination a img{
	border: none;
}

.pagination a:hover, .pagination a.selected{
	background: url(images/templatemo_paging_current_icon.png) no-repeat;	
}